/* GENERAL */
*
{
	margin: 0;
	padding: 0;
}

body
{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #5a5a5c;
    background-color: #bfb1ad;
}

#bloc_page
{
	width: 100%;
	max-width: 1366px;
	margin: auto;
	background-color: white;
}

p
{

	text-align: justify;
}

a{
	text-decoration: none;
	color: #663366;
}

a:hover
{
	text-decoration: none;
	color: #503f30;
}

ul
{
	list-style: none;
}

.red
{
	color: red;
	font-weight: bold;
}

div.ombre 
{
    margin: auto;
	margin-top: 60px;
	box-shadow: 0 0 40px grey;
	width: 95%;
	height: 1px;
	border-bottom: 1px solid #d5d5d5;
}

h2
{	
	margin: 50px 0;
	padding: 100px 0 0 0 ;
	font-size: 2.5em;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	color: #323234;
	text-align: center;
}

h3
{	
	margin-top: 40px;
	color: #663366;
}

section p, section h3
{
	padding: 2px 15px;
}

section i 
{
	color: #663366;
}

.strong
{
	font-weight: bold;
}

.fontsmall
{
	font-size: 0.8em;
}

.bold
{
	font-weight: bold;
	color: #663366;
}



@media (min-width: 300px) {
	h2
	{	
		margin: 30px 5px;
		font-size: 1.9em;
	}
	h3
	{	
		font-size: 1.4em;
	}
}

@media (min-width: 750px) {
	h2
	{	
		margin: 40px 5px;
		font-size: 2.2em;
	}
	h3
	{	
		font-size: 1.6em;
	}
}

@media (min-width: 980px) {
	h2
	{	
		margin: 50px 5px;
		font-size: 2.4em;
	}
	h3
	{	
		font-size: 1.8em;
	}
}


/* HEADER */
nav .container
{
	
	width: 80%;
	max-width: 1800px;
	padding: 0;

}

.navbar-brand
{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

#trait
{
	background-color: #663366;
	width: 20px;
	height: 65px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	margin: 0 10px;
    margin-top:0px;
    -moz-animation: anim-trait 1s linear;
    -webkit-animation: anim-trait 1s linear;
    -o-animation: anim-trait 1s linear;
    -ms-animation: anim-trait 1s linear;
    animation: anim-trait 1s linear;
}

@-moz-keyframes anim-trait {
   0%  {margin-top: -80px;}
   100% {margin-top: 0px;}
}
@-webkit-keyframes anim-trait {
   0%  {margin-top: -80px;}
   100% {margin-top: 0px;}
}
@-o-keyframes anim-trait {
   0%  {margin-top: -80px;}
   100% {margin-top: 0px;}
}
@keyframes anim-trait {
   0%  {margin-top: -80px;}
   100% {margin-top: 0px;}
}

h1
{
	font-family: 'Anton', sans-serif;
	font-size: 1.5em;
	color: #323234;
	margin: 10px 0 0 0;
	line-height: 0.8em;
    opacity:0;
    -moz-animation: anim 1s linear forwards 1s;
    -webkit-animation: anim 1s linear forwards 1s;
    -o-animation: anim 1s linear forwards 1s;
    -ms-animation: anim 1s linear forwards 1s;
    animation: anim 1s linear forwards 1s;
}
@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

#web-dev
{
	font-family: 'Amatic SC', cursive;
	font-size: 0.85em;
	color: #474749;
}

#infos
{
	margin-top: 8%;
	background-color: #474749;
	color : white;
	position: fixed;
	right: 0;
	padding: 20px;
	-moz-border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
    margin-right:-220px;
    -moz-animation: anim-infos 2s linear forwards 2s;
    -webkit-animation: anim-infos 2s linear forwards 2s;
    -o-animation: anim-infos 2s linear forwards 2s;
    -ms-animation: anim-infos 2s linear forwards 2s;
    animation: anim-infos 2s linear forwards 2s;
}
@-moz-keyframes anim-infos {
   0%  {margin-right: -220px;}
   100% {margin-right: 0px;}
}
@-webkit-keyframes anim-infos {
   0%  {margin-right: -220px;}
   100% {margin-right: 0px;}
}
@-o-keyframes anim-infos {
   0%  {margin-right: -220px;}
   100% {margin-right: 0px;}
}
@keyframes anim-infos {
   0%  {margin-right: -220px;}
   100% {margin-right: 0px;}
}
#infos a
{
	color: white;
}

#infos a:hover
{
	color: #bebebe;
}

header i
{
	color: #bebebe;
}

.icone
{
	width: 20px !important;
	text-align: center;
	display: inline-block;
}

#button-cv
{
	margin-top: 10px;
}
#button-cv .btn:hover
{
	color: white;
}

/* Menu */
#navbar
{
	margin-top: 15px;
}

#navbar a
{
	background-color: white;
	color: #996699;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	transition-property: border-bottom, border-top, color;
    transition-duration: 0.5s;
	
}
#navbar a:hover
{
	background-color: white;
	color: #5a5a5c;
	border-bottom: 1px solid #bebebe;
	border-top: 1px solid #bebebe;

}

.navbar-header button
{
	background-color: #663366;
}

.icon-bar
{
	border: 1px solid white;
}

nav
{
	height: 70px;
	background-color: white;
    box-shadow: 0px 2px 10px #bebebe;
}


@media (max-width: 868px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}

/* SECTIONS */
h3 .date
{
	font-size: 0.7em;
	color: #996699;
}
section
{

	padding-bottom: 100px;
}
/* HEADER */

header
{
	padding: 100px 0 0 0;
	text-align: center;
	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 1.5em;
	background-image: url('../images/intro.jpg');
	height: 475px;
	display: block;
}

.photo img
{
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 10px solid #663366;
}



/* SECTION INTRO */
#introduction
{
	padding-bottom: 50px;
}

#introduction h2
{
	padding: 0;
}

.intro
{
	text-align: center;
	margin: 50px 0 0 0;
	color: #564e4a;
}

@media (min-width: 300px) {
	.intro
	{
		font-size: 1em;
	}
}

@media (min-width: 750px) {
	.intro
	{
		font-size: 1.2em;
	}
}

@media (min-width: 980px) {
	.intro
	{
		font-size: 1.4em;
	}
}


/* SECTIONS */

#projets, #formations
{
	background: url(../images/background_christelle-fau.jpg) center no-repeat fixed;
	background-size: cover;
}
.contenu li
{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;/*
	justify-content: space-between;*/
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
    padding: 5px;
}

section li
{
	background-color: rgba(50,50,52, 0.8);
	border-radius: 15px;
	margin: 10px;
	padding: 5px;
}

section li h3
{
	padding-top: 0px;
	margin-top: 15px;

}


section li h3, section li h3 i
{
	color: white;
}

section li .date
{
	color: white;
}

section li p
{
	color: #bebebe;
}

section li a
{
	color: #c3a1c3;
}

section li a.btn, section li a.btn i
{
	color: white;
}

section li a:hover
{
	color: white;
}

#formations img
{
	width: auto;
	margin: 15px auto;
	max-height: 150px;
	max-width: 150px;
	
}

#formations .image
{
	text-align: center;
}

/* Responsive */
@media only screen and (min-width: 300px) {
    
   	.text
	{
		width: 100%;
	}
	.text, li p
	{
		font-size: 0.9em;
	}
}

@media (min-width: 760px) {
   .text
	{
		width: 70%;

	}
	.text, li p
	{
		font-size: 1em;
	}
}


/* PROJETS */
#images_portfolio
{
	width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#images_portfolio a{
	width: 400px;
	margin: 15px;
	height: auto;
	position: relative;
}
#images_portfolio img
{
	width: 100%;
	height: 100%;
}
.contenu_portfolio
{
	position: absolute;
	width:100%;
	bottom: 0;
	text-align: left;
	padding: 5%;
}

.contenu_portfolio h4
{
    font-size: 1em;
}
	
.contenu_portfolio h4, .contenu_portfolio p 
{
	margin: 0;
	padding: 0;
}

/* Responsive */
@media only screen and (min-width: 300px) {
    
    .contenu_portfolio
    {
        background-color: rgba(102, 51, 102, 0.8);
        color: rgba(255, 255, 255, 1);
        display: block;
    }

    .contenu_portfolio p 
    {
        font-size: 0.7em;

    }
}

@media (min-width: 760px) {
    .contenu_portfolio
    {
        display: block;
        background-color: rgba(102, 51, 102, 0);
        color: rgba(255, 255, 255, 0);
        transition:  all 0.4s linear;
        
    }
    
    #images_portfolio a:hover .contenu_portfolio{
        background-color: rgba(102, 51, 102, 0.8);
        color: rgba(255, 255, 255, 1);
    }

    .contenu_portfolio p 
    {
        font-size: 0.8em;
    }
}

/* CONTACT */
#contact
{
	padding: 50px 20px;
}

#contact h2
{	
	padding: 0;
}
.modal-body #message, .modal-body #nom_contact, .modal-body #mail_contact, .modal-body #sujet
{
	width: 100%;
}

.modal-content
{
    background-color: #474749;
	color: #bebebe;
}
.modal-content h2, .modal-content h2 i
{
	color: #bebebe;
}

.modal-header
{
    border-bottom: 1px solid #5a5a5c;
}
.modal-body
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.photo
{
	text-align: center;
	color: white;
	margin: 20px;
}

form
{
	margin-bottom: 20px;
	color: black;
}

form label
{
	color: #bebebe;
}


.photo i
{
	color: white;
}

.photo p
{
	margin-top: 20px;
}

@media (min-width: 300px) {
	.photo img
	{
		width: 248px;
	}
}

@media (min-width: 750px) {
	.photo img
	{
		width: 309px;
	}
}


/* FOOTER */
footer
{
	color: #8b8b8c;
	background-color: #474749;
	padding: 50px;
}

footer p
{
	text-align: center;
}

footer a, .link a
{
	color: #8b8b8c;
}

.link, .photo p
{
	text-align: center;
}

.link i
{
	background-color: white;
	color: #474749;
	width: 30px;
	height: 30px;
	text-align: center;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;/*
	vertical-align: center;*/
	padding-top: 7px;
}

footer a:hover 
{
	background-color: transparent;
	color: #996699;
}
.link a:hover i
{
	background-color: #996699;
}